.library {
    height: 100vh;
}

.workspace {
    background-color: gainsboro;
    height: 100vh;
}

.heading {
    padding: 5px;
}

.combinable {
    position: absolute
}

.in-library {
    position: static !important
}

.unit-inner {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unit-inner-lib {
    background-color: darkblue;
}

.unit-inner-special {
    background-color: darkcyan;
}

.unit-inner-combined {
    background-color: darkmagenta;
}

.unit-inner-combined-special {
    background-color: darkviolet;
}

.merge-highlight div {
    border-width: 3px;
    border-color: red;
}

.symbol {
    color: white;
}

.name-label {}

.grabbable {
    cursor: grab
}

.grabbing {
    cursor: grabbing !important
}

#hints {
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 2px;
}